@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');


.caveira{
    width: 200px;
}
body{
    background-color:#F01E04 ;
    color: white;
}
html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: white;
}
/*todos os links configurados abaixo */
a:hover{
    background-color: white;
    color: #241A1C;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    }
ul{
    list-style: none;
}
li{
    display: inline-block;
    margin: 20px;
    font-family: Teko;
    font-size: 25px;

}

nav{
 
    margin: auto;
    padding: 1.5rem 10rem;
    /*configurando a nav do header deixando alinhado com row*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}

ul{
    display: flex;
    gap: 1.5em;
    color: #FFF2E780;
}

.hero{
   background-image: url(imagens/IMG_4155-fotor-bg-remover-20240618204848.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #241A1C;
    height: 60vh;
    margin-left: -9px;
    margin-right: -9px;
    text-align: center;
}

.h2banner1{
    
    font-size: 30px;
    line-height: 40px;
    font-family: Epilogue;
    color: #F01E04;
    padding: 1rem;
    margin-left: 60px;
    
}
.conteudo-banner{
    
    line-height: 30px;
    font-size: 20px ;
    max-width: 500px;
    font-family:Epilogue;
    padding: 2rem;
    margin-top: -45px;
    margin-left: 60px;
}

  
.hero2{
    background-image: url(imagens/IMG_4155-fotor-bg-remover-20240618204848.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    height: 60vh;
    margin-left: -9px;
    margin-right: -9px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#saiba{
    border: 2px solid #241A1C;
    padding: 10px;
    border-radius: 20px;
}
#saiba:hover{
    color:white;
    background-color: #241A1C;
}
h2{
font-size: 56px;
line-height: 10px;
font-family: Epilogue;
}
#textocurso{
    color: #F01E04;
}
span{

    color: #241A1C;
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family:Epilogue;
}
/*Configurando formulario*/
form{
    display: flex;
    flex-direction: column;
    width: 40%;
    
  }
  input{
      margin-top: 20px;
      height: 20px;
      padding: 15px;
      border-radius: 20px;
      border: none;
      font-size: 15px;
  }
  form [type="submit"]{
      height: 50px;
      width: 50%;
      background-color: #241A1C;
      color: white;
      font-weight: bold;
  }
  form [type="submit"]:hover{
      cursor: pointer;
  }
#imagemgusta{

    float: right;
    height: 565px;
    width: 600px;
    border-radius: 30px;
    border:solid #241A1C;
    margin-top: 9px;
  }
#whats{
    width: 40px;
    height: 40px;
}
#linknumber{
    
    color:#F01E04;
}
video{
    float: right;
    margin-top: -589px;
}
#page2{
background-color: #241A1C;

}
.rodape{
    width: 1328px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    background-color: #241A1C;
    height:  30vh;
    border-radius: 20px;  
    gap: 2rem;
      
    
}
.rodape2{
    width: 1328px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    height:  30vh;
    border-radius: 20px;   
    gap: 2rem; 
    
}
#verifica{
    width: 200px;
    height: 200px;

}
@media screen and (min-width: 300px) and (max-width: 900px){
   body{
    margin:0 ,0;
    padding: 0;
    
   }
   header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    
}
.hero {
    height: 40vh;
    background-position: center;
    background-image:none;
    background-image: url(imagens/Background.png);
}
nav{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    

}
ul{
    margin: 2px;
}
li{
    display: inline-block;
    margin: 1px;
    font-family: Teko;
    font-size: 20px;

}
#saiba{
    border: 2px solid #241A1C;
    padding: 2px;
    border-radius: 10px;
}
a:hover{
    background-color: white;
    color: #241A1C;
    padding: 2px;
    font-weight: bold;
    border-radius: 5px;
    }
    html{
        font-weight: 400;
    }
    .h2banner1{
        margin-left: 2px;
        
    }
    .conteudo-banner{
        margin-left: 2px;
    }
    #imagemgusta{
        margin-right: -8px;
        width: 468px;
        height: 500px;
        margin-bottom: 22px;
        border-radius: 2px;
        margin-top: -3px;
    }
    h2{
        font-size: 30px;
        line-height: 2px;
        font-family: Epilogue;
        text-align: center;
        
    }
    p{
      text-align: center;
    }
    input{
      width: 40vh;
      text-align: center;
      margin-left: 30px;
    }
    form [type="submit"]{
       width: 45vh;
       margin-left: 30px;
       
    }
    .hero2{
        height: 40vh;
    }
    video{
        width: 468px;
        height: 500px;
        float: right;
        margin-top: 3px;
        margin-bottom: 5px;
    }
    #linknumber{
        display: flex;
        align-items: center;
        margin-left: 30%;
    }
    .rodape{
        width: 350px;
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #241A1C;
        height:  50vh;
        border-radius: 20px;  
        gap:0; 
        margin-left: 30px;
        
    }
    .rodape2{
        width: 350px;
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:white;
        height:  50vh;
        border-radius: 20px;  
        gap:0; 
        margin-left: 20px;
        
    }
 
    #verifica{
        width: 200px;
        height: 200px;

    }
    

}
@media screen and (min-width: 900px) and (max-width: 1024px){

    .hero{
        width: 1130px;
    }
    ul{
        display: flex;
        flex-direction: row;
         margin: 2px;
         gap: 0.005rem;
 
     }
     li{
         display: inline;
         font-family: Teko;
         font-size: 16px;
        
     }
     #imagemgusta{
        height: 500px;
        width: 450px;
        border-radius: 30px;
        border:solid #241A1C;
        margin-top: 9px;
       
     
        
    }
    h2{
        font-size: 30px;
    }
    video{
        width: 500px;
        height: 600px;
        margin-top: 2px;
        margin-top: -537px;
        
        
    }
   
}